* {
    box-sizing: border-box;
}

@mixin border-radius($deg) {
    -moz-border-radius: $deg;
    -webkit-border-radius: $deg;
    border-radius: $deg;
}

.border {
    border: 2px solid #000;
    padding: 30px;
    margin: 20px auto;
}